<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ypj.dao.PromotionDOMapper">
  <resultMap id="BaseResultMap" type="com.ypj.dataobject.PromotionDO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="ware_id" jdbcType="INTEGER" property="wareId" />
    <result column="ware_price" jdbcType="DECIMAL" property="warePrice" />
    <result column="start_date" jdbcType="TIMESTAMP" property="startDate" />
    <result column="end_date" jdbcType="TIMESTAMP" property="endDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, ware_id, ware_price, start_date, end_date
  </sql>

  <!--根据商品id获取该商品的促销活动-->
  <select id="getPromotionByWareId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from promotion_info
    where ware_id = #{wareId,jdbcType=INTEGER}
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from promotion_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from promotion_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ypj.dataobject.PromotionDO">
    insert into promotion_info (id, title, ware_id, 
      ware_price, start_date, end_date
      )
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{wareId,jdbcType=INTEGER}, 
      #{warePrice,jdbcType=DECIMAL}, #{startDate,jdbcType=TIMESTAMP}, #{endDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ypj.dataobject.PromotionDO">
    insert into promotion_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="wareId != null">
        ware_id,
      </if>
      <if test="warePrice != null">
        ware_price,
      </if>
      <if test="startDate != null">
        start_date,
      </if>
      <if test="endDate != null">
        end_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="wareId != null">
        #{wareId,jdbcType=INTEGER},
      </if>
      <if test="warePrice != null">
        #{warePrice,jdbcType=DECIMAL},
      </if>
      <if test="startDate != null">
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ypj.dataobject.PromotionDO">
    update promotion_info
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="wareId != null">
        ware_id = #{wareId,jdbcType=INTEGER},
      </if>
      <if test="warePrice != null">
        ware_price = #{warePrice,jdbcType=DECIMAL},
      </if>
      <if test="startDate != null">
        start_date = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null">
        end_date = #{endDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ypj.dataobject.PromotionDO">
    update promotion_info
    set title = #{title,jdbcType=VARCHAR},
      ware_id = #{wareId,jdbcType=INTEGER},
      ware_price = #{warePrice,jdbcType=DECIMAL},
      start_date = #{startDate,jdbcType=TIMESTAMP},
      end_date = #{endDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>