<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ypj.dao.StockDOMapper">
    <resultMap id="BaseResultMap" type="com.ypj.dataobject.StockDO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="ware_id" jdbcType="INTEGER" property="wareId"/>
        <result column="stock" jdbcType="INTEGER" property="stock"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, ware_id, stock
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from stock_info
        where id = #{id,jdbcType=INTEGER}
    </select>

    <!--根据商品id获取商品库存信息-->
    <select id="selectByWareId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from stock_info
        where ware_id = #{wareId,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from stock_info
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.ypj.dataobject.StockDO" useGeneratedKeys="true" keyProperty="id">
        insert into stock_info (id, ware_id, stock)
        values (#{id,jdbcType=INTEGER}, #{wareId,jdbcType=INTEGER}, #{stock,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.ypj.dataobject.StockDO" useGeneratedKeys="true" keyProperty="id">
        insert into stock_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="wareId != null">
                ware_id,
            </if>
            <if test="stock != null">
                stock,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="wareId != null">
                #{wareId,jdbcType=INTEGER},
            </if>
            <if test="stock != null">
                #{stock,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ypj.dataobject.StockDO">
        update stock_info
        <set>
            <if test="wareId != null">
                ware_id = #{wareId,jdbcType=INTEGER},
            </if>
            <if test="stock != null">
                stock = #{stock,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!--根据商品id减少该商品的库存-->
    <update id="reduceWareStock">
        update stock_info
        set stock = stock - #{amount,jdbcType=INTEGER}
        where ware_id = #{wareId,jdbcType=INTEGER}
          and stock >= #{amount,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.ypj.dataobject.StockDO">
        update stock_info
        set ware_id = #{wareId,jdbcType=INTEGER},
            stock   = #{stock,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>