<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ypj.dao.WareDOMapper">
    <resultMap id="BaseResultMap" type="com.ypj.dataobject.WareDO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="image_url" jdbcType="VARCHAR" property="imageUrl"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, title, description, image_url, price
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ware_info
        where id = #{id,jdbcType=INTEGER}
    </select>

    <!--查询所有商品信息-->
    <select id="listWareModels" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ware_info
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from ware_info
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.ypj.dataobject.WareDO" useGeneratedKeys="true" keyProperty="id">
        insert into ware_info (id, title, description, image_url, price)
        values (#{id,jdbcType=INTEGER},
                #{title,jdbcType=VARCHAR},
                #{description,jdbcType=VARCHAR},
                #{imageUrl,jdbcType=VARCHAR},
                #{price,jdbcType=DECIMAL})
    </insert>
    <insert id="insertSelective" parameterType="com.ypj.dataobject.WareDO" useGeneratedKeys="true" keyProperty="id">
        insert into ware_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="imageUrl != null">
                image_url,
            </if>
            <if test="price != null">
                price,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="imageUrl != null">
                #{imageUrl,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=DECIMAL},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ypj.dataobject.WareDO">
        update ware_info
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="imageUrl != null">
                image_url = #{imageUrl,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=DECIMAL},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.ypj.dataobject.WareDO">
        update ware_info
        set title       = #{title,jdbcType=VARCHAR},
            description = #{description,jdbcType=VARCHAR},
            image_url   = #{imageUrl,jdbcType=VARCHAR},
            price       = #{price,jdbcType=DECIMAL}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>